@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px limegreen;
  cursor: pointer;
}

.thewatch input.stressbox {
  width: 10px;
  height: 10px;
  margin-right: -15px;
  position: relative;
  vertical-align: bottom;
}

.thewatch input.stressbox-crit {
  margin-right: -10px;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
  max-width: 700px;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6 / span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flexlarge {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.align-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

/* Styles limited to thewatch sheets */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  position: static;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: lime;
  text-align: left;
  border-radius: 6px;
  border: 2px double #ffaa22;

  padding: 10px 10px 10px 10px;
  height: fit-content;
  width: 50%;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.thewatch .window-content {
  background:  #220044;
  color: #000000;
  color: #000000;
  border: 2px groove #ffaa22;
}

.dialog .window-content, .dialog-button, .dialog .dialog-buttons button, .dialog .dialog-buttons button.default {
  background: #033550;
  color: #70ccff;
  border: 2px groove #011330;
}

.thewatch input[type="text"],
.thewatch input[type="number"],
.thewatch input[type="password"],
.thewatch input[type="date"],
.thewatch input[type="time"],
.thewatch select {
  height: auto;
  color: #000000;
}

.thewatch .item-sheet,
.thewatch .item-sheet input[type="text"],
.thewatch .item-sheet input[type="number"],
.thewatch .item-sheet input[type="password"],
.thewatch .item-sheet input[type="date"],
.thewatch .item-sheet input[type="time"],
.thewatch .item-sheet select {
  height: auto;
  color: #ffaa22;
}

.dialog-buttons button:hover,
.dialog-buttons button:focus,
.dialog-buttons button.default:hover,
.dialog-buttons button.default:focus {
  color: lime;
  text-shadow: 0 0 10px lime;
  box-shadow: 0 0 10px lime;
}

.thewatch .tabs .item.active,
.thewatch .tabs .item:hover,
.thewatch .tabs .item:focus,
.thewatch .item-name h4:hover,
.thewatch .item-name h4:focus,
.thewatch .item-control:hover,
.thewatch .item-control:focus {
  color: lime;
  text-shadow: 0 0 10px lime;
}

.thewatch .item-image{
  text-align: center;
  vertical-align: middle;
}

.thewatch .item-image img:hover,
.thewatch .item-image img:focus {
  box-shadow: 0 0 10px lime;
}

option {
  color: #000;
}

.thewatch .item-form {
  font-family: "Roboto", sans-serif;
}

.thewatch .window-content,
.thewatch .window.header
{
  min-width: 775px;
}

.thewatch .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 auto;
  flex: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 0;
  padding-bottom: 0;
}

.thewatch .sheet-top {
  background-image: url('../images/filetop.png');
  background-repeat: no-repeat;
  max-width: 775px;
  min-height: 275px;
  padding: 10px 35px 0 15px;
}

.thewatch .sheet-mid {
  background-image: url('../images/filemiddle.png');
  background-repeat: repeat-y;
  max-width: 775px;
  padding: 10px 35px 10px 25px;
}

.thewatch .sheet-bottom {
  background-image: url('../images/filebottom.png');
  background-repeat: no-repeat;
  min-height: 50px;
  max-width: 775px;
}

.thewatch .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 150px;
  flex: 0 0 150px;
  height: 150px;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: top;
  border: 0px;
}

.thewatch .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.thewatch .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.thewatch .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.thewatch .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.thewatch .sheet-body,
.thewatch .sheet-body .tab,
.thewatch .sheet-body .tab .editor {
  height: 100%;
}

.thewatch .post-it {
  float: left;
  position:relative;
  margin: 10px;
  background-color: cornflowerblue;
  box-shadow: 0 10px 2px 1px #000;
  width: 200px;
  height: 200px;
  left: 25px;
}

.thewatch .tox .tox-editor-coverer {
  background: #fff;
}

.thewatch .tox .tox-edit-area {
  padding: 0 8px;
}

.thewatch .resource-label {
  font-weight: bold;
}

.thewatch .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.thewatch .items-header > * {
  font-size: 14px;
  text-align: center;
}

.thewatch .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.thewatch .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
}

.thewatch .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.thewatch .items-list .item-name {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.thewatch .items-list .item-name h3, .thewatch .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}

.thewatch .items-list .item-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.thewatch .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}

.thewatch .items-list .item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}

.thewatch .items-list .item:last-child {
  border-bottom: none;
}

.thewatch .items-list .item .item-name .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}

.thewatch .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.thewatch .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.thewatch .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}

.thewatch .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}

.thewatch .item-formula {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75px;
  flex: 0 0 75px;
  padding: 0 8px;
}

.thewatch .effects .item .effect-source,
.thewatch .effects .item .effect-duration,
.thewatch .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.thewatch .effects .item .effect-controls {
  border: none;
}

#clockImg {
  position: relative;
  width: 300px;
  z-index: 10;
  border: 0;
}
.coverer {
  text-align: center;
  position: relative;
  width: 100%;
  padding-bottom: 77%;
  height: 0;
  border: 0;
}

.clock {
  display:flex;
  justify-content: center;
  align-items: top;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border: 0;
}

.clockface {
  background-color: azure;
  position: absolute;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  overflow:hidden;
  top: 2%;
}

.half-circle, .half-circle-top {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: right center;
}

.half-circle:nth-child(1) {
  background-color: blue;
}

.half-circle:nth-child(2) {
  background-color: blue;
}

.half-circle-top {
  background-color: azure;
  z-index: 8;
}

.namelabel {
  position: absolute;
  top: 50px;
  left: 750px;
  margin-right: 15px;
  margin-top: 50px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-align: center;
}